@model IEnumerable<TESTE_MATHEUS_SAMPAIO.Context.DTO.ServicosViewModel>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Adicionar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome_Servico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao_Servico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prazo_Entrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_Servico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao_Servico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prazo_Entrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FornecedoresModel.Nome)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                 
            </td>
        </tr>
}
    </tbody>
</table>