@model TESTE_MATHEUS_SAMPAIO.Context.DTO.SolicitaServicosViewModel

@{
    ViewData["Title"] = "Remover";
}

<h3>Você tem certeza? Essa ação não poderá ser defeita.</h3>
<div>
    <h4>SolicitaServicosModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo_Solicitacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo_Solicitacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FornecedoresModel.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_Cadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_Cadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Ativo) { <p>Sim</p> }
                else { <p>Não</p> }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoServico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicosModel.Nome_Servico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuariosModel.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Departamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartamentosModel.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-info" asp-action="Index">Voltar</a>
    </form>
</div>