@model IEnumerable<TESTE_MATHEUS_SAMPAIO.Context.DTO.SolicitaServicosViewModel>

@{
    ViewData["Title"] = "Index";
}
@if (Model.Count() != 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Observacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FornecedoresModel.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data_Cadastro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ativo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ServicosModel.Nome_Servico)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsuariosModel.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartamentosModel.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aprovado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Observacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fornecedor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data_Cadastro)
                    </td>
                    <td>
                        @if (item.Ativo)
                        {
                            <p>Sim</p>
                        }
                        else
                        {
                            <p>Não</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServicosModel.Nome_Servico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UsuariosModel.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartamentosModel.Nome)
                    </td>
                    <td>
                        @if (item.Aprovado)
                        {
                            <p>Aprovado</p>
                        }
                        else
                        {
                            <p>Aguardando Análise</p>
                        }
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="empty-list d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="text-center">
            <div class="loading-spinner "></div>
            <p id="empty-list-message">Aguarde carregando...</p>
        </div>
    </div>
    <script>
        setTimeout(function () {
            var messageElement = document.getElementById("empty-list-message");
            if (messageElement) {
                messageElement.textContent = "Não encontrei Solicitações aprovadas";
            }
        }, 4000); // 4000 milissegundos (4 segundos)
    </script>

}