@model IEnumerable<TESTE_MATHEUS_SAMPAIO.Context.DTO.SolicitaServicosViewModel>

@{
    string modelName = typeof(TESTE_MATHEUS_SAMPAIO.Context.DTO.SolicitaServicosViewModel).Name;
    modelName = modelName.Replace("ViewModel", "").Insert(8, " ");
    ViewData["Title"] = modelName;
}

<h1>@ViewData["Title"]</h1>

@if (Model.Count() != 0)
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="text-center">
                <th></th>
                <th> @Html.DisplayNameFor(model => model.Codigo_Solicitacao) </th>
                <th>
                    @Html.DisplayNameFor(model => model.ServicosModel.Nome_Servico)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fornecedor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Id_Departamento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data_Cadastro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aprovado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td> @Html.DisplayFor(modelItem => item.Id) </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo_Solicitacao)
                    </td>
                    <td> @Html.DisplayFor(modelItem => item.Codigo_Solicitacao) </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FornecedoresModel.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartamentosModel.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data_Cadastro)
                    </td>
                    <td>
                        @if (item.Aprovado)
                        { <p>Aprovado</p> }
                        else
                        { <p>Aguardando Análise</p>}
                    </td>
                    <td>
                        <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    @await Html.PartialAsync("../Fragments/NothingData");
    
}