@model TESTE_MATHEUS_SAMPAIO.Context.DTO.ProdutosViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>ProdutosModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoGTIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoGTIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Minimo_Estoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Minimo_Estoque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estoque_Atual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoque_Atual)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a class="btn btn-info" asp-action="Index">Voltar</a>
</div>
